<!-- <div *ngIf="userRole === 'especialista'">
  <h1>Bienvenido, Especialista!</h1>
</div>

<div *ngIf="userRole === 'paciente'">
  <h1>Bienvenido, Paciente!</h1>
</div>

<div *ngIf="!user">
  <h1>Bienvenido!</h1>
  <p>Por favor, inicia sesión o regístrate.</p>
  <button routerLink="/login">Login</button>
  <button routerLink="/registro-especialistas">Registro Especialistas</button>
  <button routerLink="/registro-pacientes">Registro Pacientes</button>
</div>

<div *ngIf="user && !userRole">
  <h1>Cargando...</h1>
</div>

<div *ngIf="user">
  <button (click)="onLogout()">Cerrar Sesión</button>
  <button routerLink="/usuarios">Usuarios</button>
</div> -->
<h1> holaa</h1>