<div>
  <h2>Seleccionar Turno</h2>

  <!-- Lista de Especialistas -->
  <div>
    <h3>Especialistas</h3>
    <div class="especialistas-container">
      <div *ngFor="let especialista of especialistasList" 
           class="especialista-button"
           [class.selected]="especialista === selectedEspecialista"
           (click)="onEspecialistaSelect(especialista)">
           <p>{{ especialista.nombre }} {{ especialista.apellido }}</p>
           <img [src]="especialista.imagenUrl" alt="{{ especialista.nombre }}" class="especialista-imagen"/>
      </div>
    </div>
  </div>

  <!-- Especialidades del Especialista Seleccionado -->
  <div *ngIf="especialidadesFiltrada.length > 0">
    <h3>Especialidades de {{ selectedEspecialista?.nombre }} {{ selectedEspecialista?.apellido }}</h3>
    <div class="especialidades-container">
      <div *ngFor="let especialidad of especialidadesFiltrada"
           class="especialidad-button"
           [class.selected]="especialidad.nombre === selectedEspecialidad"
           (click)="onEspecialidadSelect(especialidad.nombre)">
        <img [src]="especialidad.imagen" alt="{{ especialidad.nombre }}" class="especialidad-imagen"/>
        <p>{{ especialidad.nombre }}</p>
      </div>
    </div>
  </div>

  <!-- Turnos Disponibles -->
  <div *ngIf="turnosDisponibles.length > 0">
    <h3>Turnos Disponibles para {{ selectedEspecialista?.nombre }} en {{ selectedEspecialidad }}</h3>
    <div class="dias-container">
      <!-- Recorremos el array de objetos de turnos -->
      <div *ngFor="let turno of turnosDisponibles">
        <div class="turno-button"
             [class.selected]="turno.fecha === selectedTurno?.fecha"
             (click)="selectTurno(turno)">
          {{ turno.fecha }} <!-- Formato: 2021-09-09 -->
        </div>

        <!-- Horarios disponibles para ese turno -->
        <div *ngIf="turno.fecha === selectedTurno?.fecha">
          <h4>Horarios Disponibles para {{ turno.fecha }}</h4>
          <div class="horarios-container">
            <div *ngFor="let hora of turno.horarios" 
                 class="hora-button" 
                 [class.selected]="hora === selectedTurno?.hora" 
                 (click)="selectTurnoHora(hora)">
              {{ hora }} <!-- Formato: 13:15 -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="captchaActivo">
    <div class="captcha-container" *ngIf="captchaVisible">
      <div appRecaptcha (captchaResolved)="onCaptchaResolved($event)"></div>
    </div>
  
    <!-- Botones para mostrar/ocultar captcha -->
    <button class="toggle-captcha-btn" (click)="toggleCaptchaVisibility()">
      {{ captchaVisible ? 'Ocultar Captcha' : 'Mostrar Captcha' }}
    </button>
  </div>
  
  <!-- Botón de solicitud de turno -->
  <button class="solicitar-turno" 
          [disabled]="!captchaValid || !selectedTurno?.hora" 
          (click)="onSolicitarTurno()">Solicitar Turno</button>


</div>
