<div id="lol">
  <div id="chartEspecialidades">
    <div class="grafico-container">
      <canvas id="graficoEspecialidades"></canvas>
      <div class="descarga-buttons"></div>
    </div>
  </div>
  
  <div id="chartFechas">
    <!-- Gráfico de Fechas -->
    <div class="grafico-container">
      <canvas id="graficoFechas"></canvas>
      <div class="descarga-buttons"></div>
    </div>
  </div>
  
  <div id="chartSemanaActual">
    <!-- Gráfico de Semana Actual -->
    <div class="grafico-container">
      <canvas id="graficoSemanaActual"></canvas>
      <div class="descarga-buttons"></div>
    </div>
  </div>
  
  <div id="chartFinalizadosSemana">
    <!-- Gráfico de Finalizados Semana -->
    <div class="grafico-container">
      <canvas id="graficoFinalizadosSemana"></canvas>
      <div class="descarga-buttons"></div>
    </div>
  </div>
</div>
