<!-- Indicador de carga -->
<div *ngIf="loading" class="loading">Cargando datos...</div>

<!-- Botón para mostrar/ocultar los logs -->
<button (click)="toggleLogs()">
  {{ mostrarLogs ? 'Ocultar Logs' : 'Mostrar Logs' }}
</button>


<!-- Logs de ingreso -->
<!-- Logs de ingreso -->
<div *ngIf="!loading && mostrarLogs">
  <div class="descarga-buttons">
    <button (click)="descargarPDF()">Descargar PDF</button>
    <button (click)="descargarExcel()">Descargar Excel</button>
  </div>
  
  <table #logTable>
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Fecha y Hora</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let log of logs">
        <td>{{ log.usuario }}</td>
        <td>{{ log.fecha }} {{ log.hora | convertirHora }}</td>
      </tr>
    </tbody>
  </table>
</div>



<!-- Contenedor de los gráficos (2 por fila) -->
<div class="grafico-row">
  <!-- Primer par de gráficos y botones -->
  <div class="grafico-container">
    <canvas id="graficoTurnos"></canvas>
    <div class="descarga-buttons">
      <button (click)="downloadExcel('graficoTurnos')">Descargar Excel</button>
      <button (click)="downloadPdf('graficoTurnos')">Descargar PDF</button>
    </div>
  </div>

  <!-- Segundo par de gráficos y botones -->
  <div class="grafico-container">
    <canvas id="graficoTurnosFecha"></canvas>
    <div class="descarga-buttons">
      <button (click)="downloadExcel('graficoTurnosFecha')">Descargar Excel</button>
      <button (click)="downloadPdf('graficoTurnosFecha')">Descargar PDF</button>
    </div>
  </div>

  <!-- Tercer par de gráficos y botones -->
  <div class="grafico-container">
    <canvas id="graficoTurnosMedico"></canvas>
    <div class="descarga-buttons">
      <button (click)="downloadExcel('graficoTurnosMedico')">Descargar Excel</button>
      <button (click)="downloadPdf('graficoTurnosMedico')">Descargar PDF</button>
    </div>
  </div>

  <!-- Cuarto par de gráficos y botones -->
  <div class="grafico-container">
    <canvas id="graficoTurnosFinalizadosMedico"></canvas>
    <div class="descarga-buttons">
      <button (click)="downloadExcel('graficoTurnosFinalizadosMedico')">Descargar Excel</button>
      <button (click)="downloadPdf('graficoTurnosFinalizadosMedico')">Descargar PDF</button>
    </div>
  </div>
</div>
