<nav class="navbar">
    <div class="nav-content">
      <ng-container *ngIf="user; else loggedOut">
        <button *ngIf="isAdmin" routerLink="/usuarios">Usuarios</button> <!-- Mostrar solo si es admin -->
        <button  routerLink="/mi-perfil">Mi Perfil</button> <!-- Mostrar solo si es admin -->
        <button (click)="onLogout()">Cerrar Sesión</button>
      </ng-container>
  
      <ng-template #loggedOut>
        <button routerLink="/login">Login</button>
        <button routerLink="/registro-especialistas">Registro Especialistas</button>
        <button routerLink="/registro-pacientes">Registro Pacientes</button>
      </ng-template>
    </div>
</nav>
