<div>
    <label for="especialidad">Especialidad:</label>
    <input id="especialidad" [(ngModel)]="especialidadSeleccionada" (input)="aplicarFiltros()" type="text" placeholder="Buscar especialidad">
  </div>
  
  <div>
    <label for="especialista">Especialista:</label>
    <input id="especialista" [(ngModel)]="especialistaSeleccionado" (input)="aplicarFiltros()" type="text" placeholder="Buscar especialista">
  </div>
  
  <!-- Aquí mostramos los turnos filtrados -->
  <div *ngFor="let turno of turnosFiltrados" (click)="seleccionarTurno(turno)" [ngClass]="{'seleccionado': esSeleccionado(turno)}">
    <p>{{ turno.especialista }} - {{ turno.fecha }}</p>
    <p>{{ turno.especialidad }}</p>
    <p>{{ turno.estado }}</p>
  </div>
  
  <!-- Mostrar botón de cancelar si hay un turno seleccionado -->
  <button *ngIf="turnoSeleccionado" (click)="mostrarComentarioForm = true">Cancelar</button>
  
  <!-- Formulario de cancelación de turno -->
  <div *ngIf="mostrarComentarioForm && turnoSeleccionado" class="comentario-form">
    <label for="comentario">Comentario:</label>
    <input [(ngModel)]="comentarioCancelacion" id="comentario" type="text" placeholder="Ingrese el motivo de la cancelación">
    
    <button (click)="cancelarTurno(turnoSeleccionado)">Enviar</button>
  </div>
  