.seleccion-container {
  background-image: url('../../../assets/bg-home.jpg'); /* Ruta a la imagen */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Alinea los botones verticalmente */
  gap: 20px;

  
    .seleccion-btn {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      transition: transform 0.3s ease;
  
      img {
        width: 200px; /* Tamaño de las imágenes */
        height: auto;
        transition: transform 0.3s ease;
      }
  
      &:hover img {
        transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
      }
    }
  }
  
  .registro-container {
    margin-top: 20px;
    animation: fadeIn 0.5s ease; /* Animación de aparición */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  