<div *ngIf="loading; else form">
  <app-spinner></app-spinner>
</div>
<ng-template #form>
  <div class="login-container">
    <form (ngSubmit)="onLogin()" class="login-form">
      <h2>Iniciar Sesión</h2>

      <div class="fav-buttons-container">
        <button type="button" (click)="toggleFavoriteButtons()" class="fav-button">
          ⚙️ Acceso Rápido
        </button>

        <div *ngIf="showFavoriteButtons" class="favorite-buttons animate-fade-in">
          <button
            *ngFor="let user of favoriteUsers"
            type="button"
            (click)="fillCredentials(user.role)"
            class="preset-button"
            appProfileDirective
          >
            <img [src]="user.image" alt="Profile" class="profile-image" />
            {{ user.role }}
          </button>
        </div>
      </div>

      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        required
        placeholder="Email"
        class="input-field"
      />
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        required
        placeholder="Password"
        class="input-field"
      />
      <button type="submit" class="submit-button">Iniciar Sesión</button>
    </form>
  </div>
</ng-template>
